* {
    margin: 0px;
    padding: 0px;
}

.clickable {
    cursor: pointer;
    text-decoration: inherit;
    color: inherit;
}

.main-navbar {
    width: 100vw;
    height: 50px;
    display: flex;
    flex: 1;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: rgb(245, 245, 245);
    transition: all 200ms ease-in;
}

    .navbar-icons {
        width: 7%;
        display: flex;
        justify-content: space-evenly;
        color: rgb(160, 155, 155);
    }

        .navbar-icons .link:hover {
            transform: scale(1.2);
            color: rgb(32, 32, 32);
            transition: all 300ms;
        }

    #navbar-title {
        width: 60%;
        padding-left: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .title {
            margin-left: 2%;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.3em;
            font-weight: 700;
            flex: 0.7;
            color: rgb(32, 32, 32);
        }
    
    .navbar-links {
        width: 33%;
        display: flex;
        justify-content: space-evenly;
        font-family: 'Cormorant Garamond', serif;
        font-size: 1em;
        font-weight: 400;
    }

        .navbar-links .link:hover {
            font-weight: 700;
            color: rgb(32, 32, 32);
            transform: scale(1.1);
            transition: all 300ms;
        }

        .navbar-links .link:active {
            font-weight: 700;
            color: rgb(32, 32, 32);
            transform: scale(1.1);
        }

        .navbar-links .link:first-child {
            display: none;
        }

.scrolledHeader {
    transition: all 200ms ease-in;
    background-color:  rgb(32, 32, 32);
}

    .scrolledHeader .link {
        transition: all 200ms ease-in;
        color: rgb(200, 190, 190);
    }

    .scrolledHeader .link:hover {
        color: rgb(240, 240, 240);
    }

.formatedTitle {
    transition: all 200ms ease-in;
    color: rgb(230, 220, 220);
}

/* RESPONSIVE DESIGN */
@media screen and (min-width: 1920px) {
    .navbar-links {
        font-size: 1.2em;
    }

    .navbar-icons {
        font-size: 1.2em;
    }

    #navbar-title {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 1024px) {
    .navbar-icons {
        width: 10%;
    }
}

@media screen and (max-width: 820px) {
    .navbar-icons {
        width: 13%;
    }

    #navbar-title {
        width: 50%;
    }

    .navbar-links {
        width: 45%;
    }
}

@media screen and (max-width: 540px) {
    .main-navbar {
        padding-top: 2%;
        padding-bottom: 2%;
    }

        .navbar-icons {
            width: 20%;
        }

        #navbar-title {
            width: 50%;
            padding: 0;
            display: block;
            text-align: center;
        }

            .title {
                font-size: 1.2em;
                flex: 1;
            }

        .navbar-links {
            width: 20%;
            display: block;
            position: absolute;        
            top: 0;
            right: 0;
        }
            
            .navbar-links .link:first-child {
                display: block;            
                position: relative;
                padding-top: 20%;
                right: 50%;
                text-align: right;
            }

                .navbar-links .link:first-child:hover {
                    transform: scale(1);
                }

            .navbar-links .link:not(:first-child) {
                display: none;
            }

            .navbar-links.responsive .link:first-child {
                display: block;            
                position: relative;
                padding-top: 20%;
                right: 10%;
                text-align: right;
            }
            
                .navbar-links.responsive .link:first-child:hover {
                    transform: scale(1);
                }

            .navbar-links.responsive .link:not(:first-child) {           
                display: block;
                position: relative;
                width: auto;
                right: 5%;
                padding-right: 5%;
                background-color: rgb(32, 32, 32);
                color: rgb(226, 222, 222);
                font-weight: 700;
                text-align: right;
            }

                .navbar-links.responsive .link:not(:first-child):hover {           
                    background-color: rgb(60, 60, 60);
                }
}

@media screen and (max-width: 320px) {
    .navbar-icons {
        width: 25%;
        margin-left: 5%;
    }
    
    /* .navbar-icons .link {
        margin-left: 7px;
    }

        .navbar-links .link:first-child {
            right: 30%;
        } */
}

@media screen and (max-width: 280px) {
    .navbar-icons {
        width: 27%;
        margin-left: 2%;
    }
}