* {
    margin: 0;
    padding: 0;
}

#siteHeader {
    width: 100vw;
    height: 220px;
    margin-top: 80px;
    margin-bottom: 50px;
    background-image: url('../../assets/img/carousel/background.jpg');
    background-size: cover;
    opacity: calc(0.7);
    box-shadow: 0px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}

    #headerImageContainer{
        margin-top: 4%;
        width: 10%;
        height: 50%;
        position: relative;
    }

        .headerImage {
            margin-top: 4%;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 5px rgba(210, 210, 210, 0.5);
            opacity: 0.4;
        }

            #index_2 {
                animation: showInCenter 1s;
                animation-fill-mode: forwards;
                transition-timing-function: step-end;
            }

                @keyframes showInCenter {
                    0% {
                        box-shadow: 0px 0px 10px 5px rgba(210, 210, 210, 0.5);
                        opacity: 0.4;
                    }

                    100% {
                        transform: scale(1.7);
                        opacity: 0.8;
                        box-shadow: 0px 0px 15px 15px rgba(210, 210, 210, 0.5);}
                    }

            .siteHeaderTitle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: 'Cormorant Garamond', serif;
                font-size: 2em;
                font-weight: 700;
                white-space: nowrap;
                text-shadow: 2px 2px 5px whitesmoke;
                opacity: 0.4;
                color: black;
                z-index: 10;
            }

                #indexName_2 {
                    animation: showNameInCenter 1s;
                    animation-fill-mode: forwards;
                    transition-timing-function: step-end;
                }

                    @keyframes showNameInCenter {
                        0% {
                            font-size: 2em;
                            opacity: 0.4;
                        }

                        100% {
                            font-size: 4em;
                            opacity: 1;
                        }
                    }

/* RESPONSIVE DESIGN */

/* GOING UP FROM 1250 */
@media screen and (min-width: 1300px) {
    #headerImageContainer{
        margin-top: 4%;
        width: 9%;
    }
}

@media screen and (min-width: 1400px) {
    #headerImageContainer{
        margin-top: 3.5%;
        width: 8.5%;
    }
}

@media screen and (min-width: 1500px) {
    #headerImageContainer{
        width: 8%;
    }
}

@media screen and (min-width: 1600px) {
    #headerImageContainer{
        width: 7.5%;
    }
}

@media screen and (min-width: 1700px) {
    #headerImageContainer{
        margin-top: 3%;
        width: 7.2%;
    }

    #siteHeader {
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1800px) {
    #headerImageContainer{
        margin-top: 2.8%;
        width: 6.7%;
    }
}

@media screen and (min-width: 1900px) {
    #headerImageContainer{
        margin-top: 2.5%;
        width: 6.5%;
    }
}

@media screen and (min-width: 2000px) {
    #headerImageContainer{
        width: 6%;
    }
}

@media screen and (min-width: 2200px) {
    #headerImageContainer{
        margin-top: 2.3%;
        width: 5.5%;
    }
}

@media screen and (min-width: 2400px) {
    #headerImageContainer{
        margin-top: 2%;
        width: 5%;
    }
}

/* GOING DOWN FROM 1250 */
@media screen and (max-width: 1150px) {
    #headerImageContainer{
        margin-top: 4%;
        width: 11%;
    }
}

@media screen and (max-width: 1100px) {
    #headerImageContainer{
        margin-top: 4.8%;
        height: 48%;
        
    }
}

@media screen and (max-width: 1000px) {
    #headerImageContainer{
        margin-top: 5%;
        height: 48%;
        width: 12%;
    }
}

@media screen and (max-width: 900px) {
    #headerImageContainer{
        margin-top: 5.5%;
        height: 45%;
        width: 12.5%;
    }

    .siteHeaderTitle {
        font-size: 1.5em;
    }

    @keyframes showNameInCenter {
        0% {
            font-size: 1.5em;
            opacity: 0.4;
        }

        100% {
            font-size: 3.5em;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 800px) {
    #headerImageContainer{
        margin-top: 7%;
        height: 40%;
        width: 12%;
    }

    .siteHeaderTitle {
        font-size: 1.2em;
    }

    @keyframes showNameInCenter {
        0% {
            font-size: 1.2em;
            opacity: 0.4;
        }

        100% {
            font-size: 3.1em;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 700px) {
    #headerImageContainer{
        margin-top: 7.5%;
        height: 50%;
        width: 18%;
    }

    .siteHeaderTitle {
        font-size: 2em;
    }

    @keyframes showNameInCenter {
        0% {
            font-size: 2em;
            opacity: 0.4;
        }

        100% {
            font-size: 4em;
            opacity: 1;
        }
    }
    
    .headerImage {
        visibility: hidden;
    }

    .siteHeaderTitle {
        visibility: hidden;
    }

    #index_2 {
        visibility: visible;
    }

    #indexName_2 {
        visibility: visible;
    }
}

@media screen and (max-width: 600px) {
    #headerImageContainer{
        margin-top: 8%;
        height: 48%;
        width: 20%;
    }
}

@media screen and (max-width: 500px) {
    #headerImageContainer{
        position: absolute;
        margin-top: 10%;
        left: 40%;
        height: 9%;
        width: 24%;
    }

    .siteHeaderTitle {
        font-size: 2em;
    }

    @keyframes showNameInCenter {
        0% {
            font-size: 2em;
            opacity: 0.4;
        }

        100% {
            font-size: 4em;
            opacity: 1;
        }
    }
}