* {
    margin: 0;
    padding: 0;
}

#articlesBackground {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding-top: 2.5%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 0%;
    background-color: rgb(40, 40, 40);
    margin-bottom: 100px;
}

    #relatedArticlesSection {
        width: 17%;
        margin-right: 3%;
        color: rgb(200, 200, 200);
    }

        #relatedArticlesSection h4 {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 1em;     
        }

        #relatedArticle {
            box-sizing: border-box;
            padding: 1%;
        }

    #article {
        width: 58%;
        background-color: rgb(180, 180, 180);
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 10px rgb(180, 180, 180);        
    }

        #articleImage {
            width: 170px;
            height: 170px;
            margin: 10px;
            margin-right: 15px;
            float: left;
            border: 1px solid black;
        }

        #article h2 {
            margin-top: 5px;
            font-family: 'Cormorant Garamond', serif;
            font-weight: 700;
            font-size: 2.5em;            
        }

        #article h5 {
            font-family: 'Cormorant Garamond', serif;
            font-weight: 700;
            font-size: 1em;            
        }

        #article p {
            font-family: 'Open Sans', sans-serif;
            font-size: 1em;     
            margin-right: 2%;       
            text-align: justify;
        }