* {
    margin: 0;
    padding: 0;
}

#articlesList {
    width: 70%;
    color: rgb(255,255,255);
}

#articlesList h2 {
    margin-top: 0%;
    margin-bottom: 5%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5em;
    text-align: center;
}

    #articleSummary {
        border-bottom: 2px double whitesmoke;
        margin-bottom: 10px;
        clear: both;
        height: auto;
    }

        #articleImage {
            width: 15%;
            height: 120px;
            float: left;
            margin-bottom: 15px;
        }

        #articleImage:after {
            content: '';
            display: table;
            clear: both;
        }

        #articleSummary h5 {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.5em;
        }

        #articleSummary h6 {
            font-family: 'Open Sans', sans-serif;
            font-size: 1em;
            font-weight: 400;
        }

        #articleSummary p {
            height: 50px;
            margin-top: 1%;
            margin-bottom: 10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 0.8em;
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #readMoreBtn {
            width: 100px;
            height: 20px;
            margin-top: 0px;
            margin-bottom: 10px;
            border-radius: 10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 0.7em;
            font-weight: 400;
        }

            #readMoreBtn:hover {
                cursor: pointer;
                font-weight: 700;
                transform: scale(1.1);
                transition:  all 100ms ease-in-out;
            }

#loadingMessage {
    margin-top: 10%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
}