* {
    margin: 0;
    padding: 0;
}

#articlesList {
    width: 70%;
    color: rgb(255,255,255);
}

#articlesList h2 {
    margin-top: 0%;
    margin-bottom: 5%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5em;
    text-align: center;
}

    #articleSummary {
        border-bottom: 2px double whitesmoke;
        margin-bottom: 10px;
        clear: both;
        height: auto;
    }

        #articleImage {
            width: 15%;
            height: 120px;
            float: left;
            margin-bottom: 15px;
            overflow: hidden;
        }

        #articleImage:after {
            content: '';
            display: table;
            clear: both;
        }

        #articleSummary h5 {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.5em;
        }

        #articleSummary h6 {
            font-family: 'Open Sans', sans-serif;
            font-size: 1em;
            font-weight: 400;
        }

        #articleSummary p {
            height: 50px;
            margin-top: 1%;
            margin-bottom: 10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 0.8em;
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #readMoreBtn {
            width: 100px;
            height: 20px;
            margin-top: 0px;
            margin-bottom: 10px;
            border-radius: 10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 0.7em;
            font-weight: 400;
        }

            #readMoreBtn:hover {
                cursor: pointer;
                font-weight: 700;
                transform: scale(1.1);
                transition:  all 100ms ease-in-out;
            }

#loadingMessage {
    margin-top: 10%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
}

.separator {    
    width: 100%;
    margin-left: 10%;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: rgb(190, 190, 190);
}

    #upperSeparator {
        margin-top: 3%;
    }

#paginateContainer {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

    #paginateContainer .paginationBtns {
        margin-top: 0;
        list-style-type:none;
        display: flex;
        justify-content: center;        
        align-items: center;
        width: 80%;
        margin-left: 10%;
        height: 25px;
    }

        #paginateContainer a  {
            font-family: 'Open Sans', sans-serif;
            font-size: 1em;
            font-weight: 400;
            margin: 15px;
            box-sizing: border-box;
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;
        }

            #paginateContainer a:hover {
                font-weight: 700;
                font-size: 1.1em;
                transition: all ease-in-out 500ms;
                cursor: pointer;
            }

    #paginateContainer .paginationDisabled a {
        color: rgb(150, 150, 150);
        cursor: default;
    }

        #paginateContainer .paginationDisabled a:hover {
            font-size: 1em;
            font-weight: 400;
        }

    #paginateContainer .paginationActive {
        font-weight: 700;
        background-color: rgb(90, 90, 90);
        box-shadow: 0px 0px 2px 1px rgb(90, 90, 90);
        color: rgb(240, 240, 240);
        border-radius: 15px;
        transition: all ease-in-out 300ms;
    }

/* RESPONSIVE DESIGN */
@media screen and (min-width: 1920px) {
    #articleImage {
        height: 150px;
    }  
}

@media screen and (max-width: 820px) {
    #articlesList {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .separator {    
        margin-left: 0;
    }
}

@media screen and (max-width: 540px) {
    #articleImage {
        margin-top: 20px;
        height: 105px;
    }   
}

@media screen and (max-width: 414px) {
    #articleSummary h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 360px) {
    #articleImage {
        height: 70px;
        margin-top: 40px;
    }   

    #readMoreBtn {
        margin-left: 23%;
    }
}